// Place all the styles related to the Entries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#content_div{
    padding-top: 50px;
}

textarea#entry_content{
    width: 100%;
    height: 300px;
    resize: none;
}

p#diary-content{
	max-height: 420px;
    overflow-y: auto;
    overflow-x: hidden;
}

.search-result {
    display: flex;
    background-color: white;
    height: 60px;
    align-items: center;
    transition: all 0.2s ease;

    .created-at {
        padding: 10px;
        border-right: inset;
        min-width: 22%;
    }

    .content {
        padding: 10px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 90%;
    }
}

.search-result:hover {
    cursor: pointer;
    box-shadow:
        1px 1px #c91717,
        2px 2px #c91717,
        3px 3px #c91717;
    -webkit-transform: translateX(-3px);
    transform: translateX(-3px);
}

.clndr-nav {
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    width: 33%;

    .nav {
        color:#c91717;
    }
}

.month-bar::after {
    content: attr(data-year);
}