// Place all the styles related to the Entries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#content_div{
    padding-top: 50px;
}

textarea#entry_content{
    width: 100%;
    height: 300px;
    resize: none;
}

p#diary-content{
	max-height: 420px;
    overflow-y: auto;
    overflow-x: hidden;
}

.search-result {
    display: flex;
    background-color: white;
    border-radius: 5px;
    height: 60px;
    align-items: center;

    .created-at {
        padding: 10px;
        border-right: inset;
        min-width: 22%;
    }

    .content {
        padding: 10px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 90%;
    }
}

.search-result:hover {
    background-color: rgb(0, 195, 255);
    cursor: pointer;
}

.clndr-nav {
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    width: 33%;

    .nav {
        color:red;
    }
}

.month-bar::after {
    content: attr(data-year);
}