// Place all the styles related to the Entries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#content_div{
    padding-top: 50px;
}

textarea#entry_content{
    width: 100%;
    height: 300px;
}

p#diary-content{
	max-height: 420px;
    overflow-y: auto;
    overflow-x: hidden;
}